[Unit]
Description=Godown keeper is used to save event received in redis pub/sub to redis key value pairs
After=redis

[Service]
Type=simple
PIDFile=/var/run/brightness.pid
ExecStart=/usr/local/bin/brightness
ExecStop=/usr/bin/redis-cli publish brightness/exit exit

[Install]
WantedBy=multi-user.target
