[Unit]
Description=Celsius converter is used to convert the received byte value (0-255) to a human readable celsius temperature string and store in redis
After=redis

[Service]
Type=simple
PIDFile=/var/run/celsius_converter.pid
ExecStart=/usr/local/bin/celsius_converter
ExecStop=/usr/bin/redis-cli publish celsius_converter/exit exit

[Install]
WantedBy=multi-user.target
