[Unit]
Description=Lcd is the driver to control information displayed on lcd screen which have address of %i
After=redis

[Service]
Type=simple
PIDFile=/var/run/lcd/%i.pid
ExecStart=/usr/local/bin/lcd %i 5000
ExecStop=/usr/bin/redis-cli publish lcd/%i/exit exit

[Install]
WantedBy=multi-user.target
