[Unit]
Description=Touch processor is used to receive redis touch events, catch and convert it to lcd processable events that switch on/off switches
After=redis

[Service]
Type=simple
PIDFile=/var/run/touch_processor.pid
ExecStart=/usr/local/bin/touch_processor
ExecStop=/usr/bin/redis-cli publish touch_processor/exit exit

[Install]
WantedBy=multi-user.target
